# block everything by default.
*
!*/
!Mods/0-SCore/**
!Mods/SampleProject/**
!Mods/SphereII*/**
!Mods/*.sln
!Mods/Blooms Family Farming/**
!Mods/Tools/**
#!BetterBiomeEffects/**
!Mods/ReadMe.md
*.zip
obj

