
*.dll
*.pdb
obj/Debug/*
*.cache
*.CopyComplete
obj/Release/*
.vs/*
*.dll
*.pdb
0-SphereIICore/Harmony/Harmony-0-SphereIICore.dll
0-SphereIICore/Harmony/Harmony-0-SphereIICore.pdb
!DMT/*
0-CreaturePack*
1-NoPottyMouth
1-NPCPackHumans
1-NPCPackMechs
2-CharacterEffectsPack
2-NoSpawning
2-NPCFactions
!Mono*.dll
