/* Responsibe Layout */

.view-left {
    border-right: 1px solid #b2b2b2;
}

.panel-left .page-content {
    padding: 0;
}

.panel-left .page {
    margin-top: 44px;
    padding-bottom: 44px;
}

.panel-left .navbar {
    position: relative;
    margin-bottom: -44px;
}

body.with-panel-right-reveal .panel-overlay {
    margin-left: 0;
}

@media (min-width: 569px) {
    .panel.panel-left.panel-cover {
        width: 320px;
        left: -320px;
    }
    body.with-panel-left-cover .panel-left {
        -webkit-transform: translate3d(320px, 0, 0);
        -ms-transform: translate3d(320px, 0, 0);
        transform: translate3d(320px, 0, 0);
    }
}

@media (min-width: 769px) {
    body .panel.panel-left.panel-cover {
        left: 0;
        width: 320px;
        display: block;
    }
    body.with-panel-left-cover .panel-left {
        -webkit-transform: translate3d(0px, 0, 0);
        -ms-transform: translate3d(0px, 0, 0);
        transform: translate3d(0px, 0, 0);
    }
    .view-main {
        float: right;
        width: -webkit-calc(100% - 320px);
        width: -moz-calc(100% - 320px);
        width: -ms-calc(100% - 320px);
        width: calc(100% - 320px);
    }
    .view-main .navbar .open-panel {
        display: none;
    }
}

/* Images */

img {
    max-width: 100%;
    height: auto;
}

/* Lists */

.hnd-list-container {
    margin-top: 0px;
    margin-bottom: 56px;
}

/* Toc */

.panel-left .list-block ul ul {
    padding-left: 10px;
}


/* Icons */

i.icon.icon-index {
    width: 21px;
    height: 21px;
    background-image: url(../img/index.svg)
}

i.icon.icon-search {
    width: 21px;
    height: 21px;
    background-image: url(../img/search.svg)
}

i.icon.icon-toc {
    width: 21px;
    height: 21px;
    background-image: url(../img/toc.svg)
}